@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilmer Bold";
  src: url("../public/assets/fonts/Gilmer\ Bold.woff2") format("woff2"),
    url("../public/assets/fonts/Gilmer\ Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilmer Regular";
  src: url("../public/assets/fonts/Gilmer\ Regular.woff") format("woff2"),
    url("../public/assets/fonts/Gilmer\ Regular.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilmer Medium";
  src: url("../public/assets/fonts/Gilmer\ Medium.woff") format("woff2"),
    url("/public/assets/fonts/Gilmer\ Medium.woff2") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilmer Heavy";
  src: url("../public/assets/fonts/Gilmer\ Heavy.woff") format("woff2"),
    url("../public/assets/fonts/Gilmer\ Heavy.woff2") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
